<div>
  <header class="header">
    <div class="logo-wrapper">
      <div class="logo"></div>
    </div>
    <div class="top-menu">
      <div class="each-menu">Support</div>
      <div class="each-menu">English</div>
    </div>
  </header>
  <div class="main-container">
    <div class="main-wrapper">
      <main class="main">
        <div class="form-wrapper">
          <div class="form">
            <div class="form-left">
              <div class="form-title">
                <h1>
                  <span> Log in to Cloudflare </span>
                </h1>
              </div>
              <div class="email-wrapper">
                <div class="email-label-wrapper">
                  <label for="email"> Email </label>
                </div>
                <input
                  class=""
                  id="email"
                  type="email"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  name="email"
                />
              </div>
              <div class="password-wrapper">
                <div class="password-label-wrapper">
                  <label for="password"> Password </label>
                  <button type="button" class="password-show-hide">
                    <div class="password-show-hide-text">Show</div>
                  </button>
                </div>
                <input
                  class=""
                  id="password"
                  type="password"
                  spellcheck="false"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  name="password"
                />
              </div>
              <div class="form-buttons">
                <div class="login-button">
                  <button class="" name="login-submit-button" type="submit">
                    <span>Log in</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-right"></div>
          </div>
        </div>
      </main>
      <footer class="footer"></footer>
    </div>
  </div>
</div>
