.header {
  z-index: 1200;
  border-bottom: 1px solid rgb(217, 217, 217);
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 63px;
  color: rgb(49, 49, 49);
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  background-color: rgb(255, 255, 255);

  .logo-wrapper {
    margin: 8px 16px;
    .logo {
      width: 105px;
      height: 47;
    }
  }
  .top-menu {
    display: flex;
    padding-right: 16px;
    .each-menu {
      height: 100%;
    }
  }
}

.main-container {
  margin-top: 63px;
  .main-wrapper {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    min-height: calc(100vh - 63px);
    display: flex;
    .main {
      margin-bottom: 32px;
      min-height: 411px;
      padding-bottom: 32px;
      padding-top: 32px;
      display: flex;
      .form-wrapper {
        max-width: 79em;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        .form {
          flex-direction: row;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          max-width: 60rem;
          margin-top: 16px;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          .form-left {
            width: 60%;
            margin-bottom: 0px;
            margin-right: 5rem;
            .form-title {
              margin-bottom: 32px;
              h1 {
                font-size: 32px;
                font-weight: 600;
              }
            }
            .email-wrapper {
              flex-direction: column;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              margin-bottom: 16px;
              display: flex;
              .email-label-wrapper {
                align-items: center;
                -webkit-box-align: center;
                display: flex;
              }
            }
            .password-wrapper {
              flex-direction: column;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              margin-bottom: 16px;
              display: flex;
              .password-label-wrapper {
                align-items: center;
                -webkit-box-align: center;
                display: flex;
                .password-show-hide {
                  text-indent: 0px;
                  text-align: left;
                  padding: 0px;
                  outline-offset: 3px;
                  border-spacing: 0px;
                  background: none 0px 0px repeat scroll transparent;
                  border: medium none;
                  text-decoration: none;
                  margin: 0px;
                  margin-bottom: -8px;
                  .password-show-hide-text {
                    font-size: 0.8rem;
                    color: rgb(0, 81, 195);
                    cursor: pointer;
                  }
                }
              }
            }
            .form-buttons {
              margin-top: 16px;
              flex-direction: column;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              display: flex;
              .login-button {
                width: 350px;
                button {
                  display: inline-flex;
                  color: rgb(255, 255, 255);
                  background-color: rgb(5, 109, 255);
                  padding-bottom: 8px;
                  padding-top: 8px;
                  padding-right: 64px;
                  padding-left: 64px;
                  height: 45px;
                  float: none;
                  max-width: initial;
                  transition-timing-function: ease;
                  transition-duration: 300ms;
                  transition-property: all;
                  pointer-events: auto;
                  opacity: inherit;
                  border-bottom-right-radius: 4px;
                  border-bottom-left-radius: 4px;
                  border-top-left-radius: 4px;
                  border-top-right-radius: 4px;
                  line-height: 1.2;
                  font-family: -apple-system, system-ui, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial,
                    sans-serif;
                  border: none;
                  font-weight: 600;
                  margin-right: 0px;
                  margin-bottom: 0px;
                  margin-top: 0px;
                  font-size: 16px;
                  margin-left: 0px;
                  user-select: none;
                  white-space: normal;
                  cursor: pointer;
                  text-align: center;
                  justify-content: center;
                  -webkit-box-pack: center;
                  align-items: center;
                  -webkit-box-align: center;
                  position: relative;
                  width: 100%;
                  &:hover {
                    background-color: rgb(0, 82, 198);
                  }
                }
              }
            }
            label {
              color: rgb(89, 89, 89);
              font-size: 0.933333rem;
              margin-bottom: 0px;
              margin-right: auto;
            }
            input {
              margin-bottom: 4px;
              padding-right: 1rem;
              padding-left: 1rem;
              height: 2.66667rem;
              color: rgb(0, 0, 0);
              font-size: 0.933333rem;
              outline: none;
              box-shadow: none;
              border: 1px solid rgb(121, 121, 121);
              margin-top: 8px;
              border-radius: 5px;
              width: 100%;
              background-color: rgb(255, 255, 255);
            }
          }
          .form-right {
            width: 40%;
          }
        }
      }
    }
    .footer {
      border-color: rgb(217, 217, 217);
      border-top-style: solid;
      border-top-width: 1px;
      margin-top: auto;
      padding-bottom: 32px;
      padding-top: 32px;
      padding-left: 16px;
      padding-right: 16px;
      background-color: rgb(255, 255, 255);
    }
  }
}
