/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  color: #313131;
  background-color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
small {
  line-height: 1.25;
}
body,
html,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.35938em;
  min-height: 1.22em;
}
